{% load url from future %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>pressureNET Data Analysis</title>
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL}}css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
    
    <script language="Javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.2.js"></script>
    <script language="Javascript" type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=&sensor=false"></script>
    
    <script language="Javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.js"></script> 
    <script language="Javascript" type="text/javascript" src="{{ STATIC_URL }}js/pressurenet.analysis.js"></script> 

  </head>
  <body>
    <header>
      <h1><span>pressureNET</span> Data Viewing and Analysis Tool</h1>
      <nav>
        <a id="cb-link" href="http://cumulonimbus.ca">Cumulonimbus</a>
        <a href="https://market.android.com/details?id=ca.cumulonimbus.barometernetwork" target="_blank">Download pressureNET</a>
      </nav>
    </header>
    
    <section id="date-range" class="full">
      <label for="start_date"> From</label> <input type="text" name="start_date" id="start_date" class="dateselector" placeholder="Start Date" size="10"/>
      <label for="end_date">To</label> <input type="text" id="end_date" name="end_date" class="dateselector" placeholder="End Date" size="10"/>
      <input type="button" value="Load" onClick="PressureNET.loadAndUpdate(0);"  />
      <span id="query_results"></span>

    </section>
        
    <section id="map_canvas" class="full" style="height:250px"></section>  
    
    <div id="slider_container" style="padding:20px;display:none">
      <div
      <div style="text-align:center">
        <div style="width:50%">
          Time Slider
        </div>
      </div>
      <div id="time_slider" style="width:50%;">
      
      </div>
    </div>
    
    <section id="current_position" class="full"></section>
      
    <section id="placeholder" class="full" style="width:620px;height:300px;"></section>
      
    <div class="height:50px">
      &nbsp;
    </div>
        
    <section id="events" class="full">
      <section id="notable-events" class="half">
        <h2>Notable Events</h2>
        <ul id="event-list">
          <li><a onClick="loadEventInfo('sandy')" style="cursor:pointer">Hurricane Sandy</a></li>
          <li><a onClick="loadEventInfo('noreaster')" style="cursor:pointer">Post-Sandy Nor'easter</a></li>
          <li><a onClick="loadEventInfo('derecho')" style="cursor:pointer">Summer 2012 US Derecho</a></li>
          <li><a onClick="loadEventInfo('isaac')" style="cursor:pointer">Hurricane Isaac</a></li>
          <li>...Pacific Typhoons...</li>
        </ul>
      </section>
      <section id="event-info" class="half">
        <hgroup>
          <h2><span id="event_title_text">Event Information</span></h2>
          <h3><span id="event_date_text">Date</span></h3>
        </hgroup>
        <p><span id="event_main_text">Hurricane Sandy was a Category 2...</span></p>
      </section>
    </section>

    <footer>
      <a id="contact" href="mailto:software@cumulonimbus.ca" title="E-mail us!">Found something interesting? Let us know!</a>
    </footer>

    <script type="text/javascript">
        PressureNET.initialize({
            readingsUrl: '{% url 'readings-list' %}'
        });
    </script>

  </body>
</html>
