{% extends 'admin/change_list.html' %}

{% block extrahead %}
  {{ block.super }}

  <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.time.min.js"></script>

  <script type="text/javascript">
      $(function () {
          $.plot('#readings_graph', [{{ readings_data }}], {
              points: { 
                  show: true 
              },
              lines: { 
                  show: true 
              },
              xaxis: { 
                  mode: 'time',
                  timeformat: '%Y/%m/%d',
              }
          });
          
          $.plot('#user_graph', [{{ active_user_data }}], {
              points: { 
                  show: true 
              },
              lines: { 
                  show: true 
              },
              xaxis: { 
                  mode: 'time',
                  timeformat: '%Y/%m/%d',
              }
          });
      });
  
  </script>

{% endblock %}


{% block object-tools %}
  <strong>Readings Per Day</strong>
  <div id="readings_graph" style="width:100%; height:200px;"></div>

  <strong>Active Users</strong>
  <div id="user_graph" style="width:100%; height:200px;"></div>

  {{ block.super }}
{% endblock %}
