{% load url from future %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>pressureNET</title>

	<link rel="shortcut icon" href="http://www.cumulonimbus.ca/favicon.gif">
    
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,900,400italic">

	<script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script language="Javascript" type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	<script language="Javascript" type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBi5dXNdOowRIkC0DwsgR_mWLbKoQKHvk0&sensor=false"></script>

	<script language="Javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.js"></script> 
	<script language="Javascript" type="text/javascript" src="{{ STATIC_URL }}js/pressurenet.analysis.js"></script> 
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-78967-8']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>
	<header id="masthead">
		<h1 id="site-title"><a href="/">pressure<span>NET</span></a></h1>
		<nav>
			<a href="/livestream/">Live Stream</a>
			<a href="/about/">About</a>
			<a id="link-cb" class="link-logo" href="http://cumulonimbus.ca">Cumulonimbus</a>
			<a id="link-gp" class="link-logo" href="https://play.google.com/store/apps/details?id=ca.cumulonimbus.barometernetwork" target="_blank">Download pressureNET</a>
		</nav>
	</header>

	<section id="main" class="group">

		<section id="intro" class="full">
			<h2>Welcome to pressureNET</h2>
			<p>We are collecting atmospheric pressure measurements from many thousands of <a href="https://play.google.com/store/apps/details?id=ca.cumulonimbus.barometernetwork" target="_blank">pressureNET</a> users. We intend to use this data to help predict weather more accurately and to better understand Earth's atmosphere. Choose a date range and pan/zoom the map to any location of interest to view the data we have collected.</p>
		</section>

		<section id="date-range" class="full">
			<div class="half">
				<label for="start_date">From</label>
				<input readonly="true" type="text" name="start_date" id="start_date" class="dateselector" placeholder="Start Date">
			</div>
			<div class="half">
				<label for="end_date">To</label>
				<input readonly="true" type="text" id="end_date" name="end_date" class="dateselector" placeholder="End Date">
			</div>
			<input type="button" id="load" value="Load" onClick="PressureNET.loadAndUpdate(0);">
		</section>

		<section id="query_results" class="full"></section>
		<section id="share_spot" class="full">
			<input type="text" id="share_input">
		</section>

		<section id="map_canvas" class="full"></section>  

		<section id="current_position" class="full"></section>

		<section id="placeholder" class="full"></section>

		<section id="graph_info" class="full">
			<p>This graph is a plot of our raw atmospheric pressure data in millibars over time (some outliers have been discarded). Below is a table of information about the graph.</p>

			<table class="graph_info_table">
				<tr>
					<th>Latitude</th>
					<td id="minVisLatCell"></td>
					<td class="center">to</td>
					<td id="maxVisLatCell"></td>
				</tr>
				<tr>
					<th>Longitude</th>
					<td id="minVisLonCell"></td>
					<td class="center">to</td>
					<td id="maxVisLonCell"></td>
				</tr>
				<tr>
					<th>Time</th>
					<td id="startTimeCell"></td>
					<td class="center">to</td>
					<td id="endTimeCell"></td>
				</tr>
				<tr>
					<th>Measurements</th>
					<td id="resultsCountCell" colspan="3"></td>
				</tr>
			</table>
		</section>

		<section id="events" class="full">

			<section id="notable-events" class="half">
				<h2>Notable Events</h2>
				<ul id="event-list">
					<li><a onClick="PressureNET.loadEventInfo('sandy')" style="cursor:pointer">Hurricane Sandy</a></li>
					<li><a onClick="PressureNET.loadEventInfo('noreaster')" style="cursor:pointer">Post-Sandy Nor'easter</a></li>
					<li><a onClick="PressureNET.loadEventInfo('isaac')" style="cursor:pointer">Hurricane Isaac</a></li>
					<li>Coming soon: Pacific Typhoons</li>
				</ul>
			</section>
			<section id="event-info" class="half">
				<hgroup>
					<h2 id="event_title_text"></h2>
					<h4 id="event_date_text"></h4>
					<h5 id="event_link_text"></h5>
				</hgroup>
				<p id="event_main_text"></p>
			</section>

		</section>

	</section>

	<footer>
		<a class="contact" style="cursor:pointer;" onClick="PressureNET.alertCumulonimbus()" title="E-mail us!">Found something interesting? <wbr>Let us know!</a>
    <br/>
		<nav id="social">
			<a id="link-tw" class="link-social" href="https://twitter.com/Cumulonimbus_ca" title="Follow us on Twitter!"></a>
			<a id="link-pl" class="link-social" href="https://plus.google.com/105785057346543310426/" title="Follow us on Google Plus!"></a>
			<a id="link-fb" class="link-social" href="http://www.facebook.com/Cumulonimbus.ca" title="Follow us on Facebook!"></a>
		</nav>
	</footer>



	<script type="text/javascript">
		PressureNET.initialize({
			readingsUrl: '{% url 'readings-list' %}'
		});
	</script>

</body>
</html>
