<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font: 14px/1.2 Roboto, 'Helvetica Neue', Arial, sans-serif; color: #000; width: 100%; background-color: #ddd; margin: 0 auto;">
	<div id="masthead" style="height: 68px; background-color: #333; padding: 10px 0;">
		<h1 id="site-title"><a href="http://pressurenet-staging.elasticbeanstalk.com/livestream/" style="display: block; font-size: 36px; font-weight: 300; max-width: 584px; height: 36px; background-image: url( 'http://pressurenet-staging.elasticbeanstalk.com/static/images/logo-pn-email.png' ); background-repeat: no-repeat; padding: 0 0 10px 56px; margin: 0 auto; color: #33b5e5; text-decoration: none;">pressure<span style="font-weight: 900;">NET</span> Live API</a></h1>
	</div>

	<div id="main" style="max-width: 640px; background-color: #fff; padding: 10px; margin: 0 auto 20px;">

    <p>Hello {{ customer.contact_name }},</p>

    <p>Thank you for signing up for the pressureNET Live API.</p> 

    <p>
      Your API key is:<br/> 
      <strong>{{ customer.api_key}}</strong>
    </p> 

    <p>We plan to continually improve our service and add features to our Live API. If you have comments, questions, feature requests, bug reports, etc, please email us. You can always find our Live API documentation on our website, http://pressurenet-staging.elasticbeanstalk.com.</p> 

    <p>You can test with the link below. We’re excited to see how you use our data at {{ customer.company_name}}!</p>

    <p>
      API Demo Link:<br/> 
      https://pressurenet-staging.elasticbeanstalk.com/live/?min_lat=29&amp;max_lat=31&amp;min_lon=-82&amp;max_lon=-79&amp;start_time=1370390400000&amp;end_time=1370397600000&amp;api_key={{ customer.api_key }}&amp;format=json
    </p>

    <p>
      Thanks,<br/>
      The Cumulonimbus Team<br/>
      http://www.cumulonimbus.ca/<br/>
    </p>

	</div>
</body>
</html>
