container_commands:
  01_update_distribute:
    command: "easy_install -U distribute"
  02_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: pressurenet/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: pressurenet.settings 
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJMKBNLU64VNTO5EQ 
  - option_name: AWS_SECRET_KEY
    value: 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 
