container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic -c --noinput"
    
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: served/static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings 
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJMKBNLU64VNTO5EQ 
  - option_name: AWS_SECRET_KEY
    value: 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 
