container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic -c --noinput"
    
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: served/static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings 
